header, .skills_section {
    height: 80vh;
    margin: 0;
    padding: 0;

}


#skills > h1{
  font-family: 'Inspiration';
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);    
  font-size: 10em;
  margin: 1rem 0;
}

.skills_section h1 {
    font-size: 3em;
    color: var(--color-secondary);
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 8vh;
}

.wrapper{
  width: fit-content;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}




.competences-element{
  /* justify-content: center; */
  /* align-items: center; */
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.competences-element > p{
  font-size: 1em;
  color: var(--secondary-font-color);
  text-align: center;
  padding: 10px
}

.competences-element > h2{
  font-size: 1.5em;
  color: red;
  text-align: center;
  padding: 10px;
}
/* 
#nav-competences{
  margin-top: -90px;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
}

#nav-competences > button{
  cursor: pointer;
  font-size: 2em;
  border: none;
  border-radius: 20px;
  color: var(--main-font-color);
  width: fit-content;
  height: 50px;
  background-color: rgba(240, 248, 255, 0);
  transition: 1s ease-in-out;
}

#nav-competences > button:hover{
  scale: 1.1;
} */


@media screen and (max-width: 1150px){
  .wrapper{
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 800px){
    .wrapper{
      margin: auto;
      grid-template-columns: 1fr;
    }
  }
}