canvas{
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}




#me{
    z-index: 10;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 5em;
    color: white;
    text-shadow: 0 0 10px black;
}

.hidden {
    display: none;
}

.tooltip {
    position: absolute;
    padding: 10px;
    background: rgba(255, 255, 255, 0.545);
    border: 1px solid #ffffff;
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  